body {
    font-family: Arial, sans-serif;
    color: white;
    background-color: black;
    overflow-x: hidden;
    overflow-y: scroll;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;

    padding: 20px;
    border-radius: 20px;
}

label {
    margin-top: 10px;
}

input[type="text"], textarea, input[type="date"] {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

button {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #3E8E41;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    box-shadow: 1px 1px 3px #ccc;
    padding: 10px;
    margin: 20px auto;
    width: 50%;
}

li span {
    margin-right: 10px;
}

li button {
    margin-left: auto;
    background-color: #f44336;
}

li button:hover {
    background-color: #d32f2f;
}
.complete
{
    text-decoration: line-through;
    color: #ccc;
}

.page-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 90%;

    position: fixed ;
    bottom: 0;
}
.footer-copyright a{
color: white;
transition: .3s ease all;
}

.footer-copyright a:hover{
    color: blue;
}